<h1>Reviews for <%= link_to @movie.title, @movie %></h1>
<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= profile_image(review.user, 35) %>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= link_to review.user.name, review.user %>
        <%= review.user.username %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
      <%= link_to "Edit", edit_movie_review_path(@movie, review), class: "button" %>
      <%= link_to "Delete", [@movie, review], class: "button", method: :delete, data: { confirm: "Really delete review?" } %>
    </li>
  <% end %>
</ul>